/*@import url(reset-css.css);*/
@import url(fonts.css);

html {
  font-size: 15px;
  font-family: elmessiri;
}

body {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

img {
  width: 100%;
}

header  .container {
  display: flex;
  height: 3rem;
  border-bottom: .1rem solid darkgrey;
}

.div_img {
  width: 5rem;
  float: left;
  height: 2.5rem;
}

section header .container > p {
  text-align: center;
  width: 78%;
  float: right;
  margin: .6rem auto;
  font-size: 1.4rem;
}

nav {
  margin-top: .2rem;
}

#container {
  width: 100%;
  text-align: center;
}

.imgs {
  display: inline-block;
  border: .1rem solid #1f4f82;
  width: 4rem;
  height: 1rem;
  margin: auto;
  padding: .5rem;
  text-align: center;
  background-color: #1f4f82;
  color: #fff;
}

.imgs > p {
  margin: -.2rem 0 0 -.3rem;
}

/***** MAIN TABLE *****/
main {
  margin-top: 5.7rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  position: relative;
}

td {
  border: 1px solid #102467;
}

/*table, td, th {
  border: 1px solid #102467;
}*/

thead {
  display: block;
  float: left;
}

thead tr {
  display: block;
}

th, td {
  display: block;
}

tbody {
  display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}

tbody tr {
  display: inline-block;
  margin-left: -5px;
}

#tr1 {
  padding-left: 5px;
}
